In [77]:
import pandas as pd
df2 = pd.read_csv("XRP.csv")
df = df2.copy()
df.head()

         Date   Price    Open    High     Low     Vol. Change %
0  06/19/2025  2.1474  2.1704  2.1828  2.1446  223.99M   -1.06%
1  06/18/2025  2.1704  2.1591  2.1802  2.1189  298.05M    0.53%
2  06/17/2025  2.1590  2.2367  2.2563  2.1431  459.24M   -3.40%
3  06/16/2025  2.2349  2.1656  2.3362  2.1517  542.39M    3.20%
4  06/15/2025  2.1656  2.1396  2.1752  2.1383  136.20M    1.21%

In [78]:
df.describe().T

        count      mean       std     min     25%     50%     75%     max
Price  3801.0  0.497003  0.560825  0.0036  0.1900  0.3674  0.5919  3.2914
Open   3801.0  0.496353  0.559858  0.0036  0.1898  0.3668  0.5913  3.2912
High   3801.0  0.516410  0.584878  0.0036  0.1959  0.3789  0.6138  3.3954
Low    3801.0  0.475152  0.533837  0.0030  0.1831  0.3512  0.5701  3.1794

In [79]:
df.isnull().sum()

Date          0
Price         0
Open          0
High          0
Low           0
Vol.        199
Change %      0
dtype: int64

In [41]:
df.tail()

            Date   Price    Open    High     Low Vol. Change %
3796  01/26/2015  0.0147  0.0170  0.0175  0.0147  NaN  -13.59%
3797  01/25/2015  0.0170  0.0174  0.0174  0.0156  NaN   -2.24%
3798  01/24/2015  0.0174  0.0160  0.0174  0.0150  NaN    8.69%
3799  01/23/2015  0.0160  0.0160  0.0170  0.0160  NaN    0.00%
3800  01/22/2015  0.0160  0.0152  0.0175  0.0152  NaN    5.19%

In [36]:
df.isnull().sum()

Date          0
Price         0
Open          0
High          0
Low           0
Vol.        199
Change %      0
dtype: int64

In [30]:
df.head()

         Date   Price    Open    High     Low  Vol. Change %
0  06/19/2025  2.1474  2.1704  2.1828  2.1446   NaN   -1.06%
1  06/18/2025  2.1704  2.1591  2.1802  2.1189   NaN    0.53%
2  06/17/2025  2.1590  2.2367  2.2563  2.1431   NaN   -3.40%
3  06/16/2025  2.2349  2.1656  2.3362  2.1517   NaN    3.20%
4  06/15/2025  2.1656  2.1396  2.1752  2.1383   NaN    1.21%

In [80]:
def convert_units(value):
    if isinstance(value, str):
        value = value.strip()  # Baştaki/sondaki boşlukları temizle
        if 'K' in value:
            return float(value.replace('K', '')) * 1000
        elif 'M' in value:
            return float(value.replace('M', '')) * 1_000_000
        elif 'B' in value:
            return float(value.replace('B', '')) * 1_000_000_000
        else:
            return float(value)  # Kısaltma yoksa direkt float'a çevir
    return value  # Zaten sayısal bir değerse olduğu gibi döndür
    
df['Vol.'] = df['Vol.'].apply(convert_units)

In [43]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.        float64
Change %     object
dtype: object

In [81]:
df.isnull().sum()

Date          0
Price         0
Open          0
High          0
Low           0
Vol.        199
Change %      0
dtype: int64

In [37]:
# "Hac." sütununu dönüştürmek için fonksiyon
def convert_volume(value):
    #value = value.replace(',', '.')  # Virgülü noktaya çevir
    if value.endswith('B'):
        return float(value[:-1]) * 1_000_000_000
    elif value.endswith('M'):
        return float(value[:-1]) * 1_000_000  # "M" ise milyonla çarp
    elif value.endswith('K'):
        return float(value[:-1]) * 1_000      # "K" ise binle çarp
    else:
        return float(value)                    # Kısaltma yoksa direkt float

# Fonksiyonu "Hac." sütununa uygulama
df['Vol.'] = df['Vol.'].apply(convert_volume)

AttributeError: 'float' object has no attribute 'endswith'

In [45]:
df.head()

         Date   Price    Open    High     Low         Vol. Change %
0  06/19/2025  2.1474  2.1704  2.1828  2.1446  223990000.0   -1.06%
1  06/18/2025  2.1704  2.1591  2.1802  2.1189  298050000.0    0.53%
2  06/17/2025  2.1590  2.2367  2.2563  2.1431  459240000.0   -3.40%
3  06/16/2025  2.2349  2.1656  2.3362  2.1517  542390000.0    3.20%
4  06/15/2025  2.1656  2.1396  2.1752  2.1383  136200000.0    1.21%

In [82]:
# "Tarih" sütununu datetime formatına çevirme
#df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df['Date'] = pd.to_datetime(df['Date'],format='mixed', dayfirst=False)
df.head()

        Date   Price    Open    High     Low         Vol. Change %
0 2025-06-19  2.1474  2.1704  2.1828  2.1446  223990000.0   -1.06%
1 2025-06-18  2.1704  2.1591  2.1802  2.1189  298050000.0    0.53%
2 2025-06-17  2.1590  2.2367  2.2563  2.1431  459240000.0   -3.40%
3 2025-06-16  2.2349  2.1656  2.3362  2.1517  542390000.0    3.20%
4 2025-06-15  2.1656  2.1396  2.1752  2.1383  136200000.0    1.21%

In [83]:
vol_ortalama = df['Vol.'].mean()
df['Vol.'].fillna(vol_ortalama, inplace=True)
# Eksik verileri kontrol etme
print(df.isnull().sum())

# Eksik verileri bir önceki değerle doldurma
#df = df.fillna(method='ffill')

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
dtype: int64

In [84]:
# İlk birkaç satırı görüntüleme
print(df.head())

# Sütun tiplerini kontrol etme
print(df.dtypes)

        Date   Price    Open    High     Low         Vol. Change %
0 2025-06-19  2.1474  2.1704  2.1828  2.1446  223990000.0   -1.06%
1 2025-06-18  2.1704  2.1591  2.1802  2.1189  298050000.0    0.53%
2 2025-06-17  2.1590  2.2367  2.2563  2.1431  459240000.0   -3.40%
3 2025-06-16  2.2349  2.1656  2.3362  2.1517  542390000.0    3.20%
4 2025-06-15  2.1656  2.1396  2.1752  2.1383  136200000.0    1.21%
Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.               float64
Change %            object
dtype: object

In [85]:
# "Fark" sütununu sayısal değere dönüştürme
df['Change %'] = df['Change %'].str.replace('%', '')      # % sembolünü kaldır
df['Change %'] = df['Change %'].str.replace(',', '.')     # Virgülü noktaya çevir
df['Change %'] = df['Change %'].astype(float)             # Float'a dönüştür
# Dönüşüm sonrası kontrol
print(df['Change %'].head())

0   -1.06
1    0.53
2   -3.40
3    3.20
4    1.21
Name: Change %, dtype: float64

In [58]:
print(df.dtypes)

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.               float64
Change %           float64
dtype: object

In [57]:
# Tarih sütununun zaten datetime64[ns] formatında olduğunu varsayıyoruz
# Fiyat sütunlarını sayısal formata dönüştürme
#for col in ['Price', 'Open', 'High', 'Low']:
    #df[col] = df[col].str.replace(',', '.').astype(float)

for col in ['Price', 'Open', 'High', 'Low']:
    # Binlik ayırıcı noktaları kaldır (örneğin "1.001.30" → "1001.30" değil, bu veride anlam bozulabilir ama yine deneyelim)
    df[col] = df[col].str.replace('.', '', regex=False)  # Önce tüm noktaları kaldır
    # Daha sonra ondalık ayırıcının da noktadan farklı olduğunu varsayarsak değiştirebilirsin
    df[col] = df[col].str.replace(',', '.', regex=False)  # Virgülü noktaya çevir
    df[col] = df[col].astype(float)

# Dönüşüm sonrası sütun tiplerini kontrol etme
print(df.dtypes)

AttributeError: Can only use .str accessor with string values!

In [86]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
Date,3801,2020-04-05 02:42:08.808208640,2015-01-22 00:00:00,2017-08-29 00:00:00,2020-04-05 00:00:00,2022-11-11 00:00:00,2025-06-19 00:00:00,NaN
Price,3801.0,0.497003,0.0036,0.19,0.3674,0.5919,3.2914,0.560825
Open,3801.0,0.496353,0.0036,0.1898,0.3668,0.5913,3.2912,0.559858
High,3801.0,0.51641,0.0036,0.1959,0.3789,0.6138,3.3954,0.584878
Low,3801.0,0.475152,0.003,0.1831,0.3512,0.5701,3.1794,0.533837
Vol.,3801.0,716499169.802887,0.0,136570000.0,464590000.0,888150000.0,13830000000.0,936948351.636073
Change %,3801.0,0.467566,-63.11,-2.36,0.0,2.2,179.55,8.942916

In [60]:
df.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.               float64
Change %           float64
dtype: object

In [87]:
#SMA (Simple Moving Average - Basit Hareketli Ortalama)
#EMA (Exponential Moving Average - Üssel Hareketli Ortalama)

# 10 günlük SMA ekleme
df['SMA_10'] = df['Price'].rolling(window=10).mean()

# 10 günlük EMA ekleme
df['EMA_10'] = df['Price'].ewm(span=10, adjust=False).mean()
df.head()

,Date,Price,Open,High,Low,Vol.,Change %,SMA_10,EMA_10
0,2025-06-19,2.1474,2.1704,2.1828,2.1446,223990000.0,-1.06,NaN,2.147400
1,2025-06-18,2.1704,2.1591,2.1802,2.1189,298050000.0,0.53,NaN,2.151582
2,2025-06-17,2.1590,2.2367,2.2563,2.1431,459240000.0,-3.40,NaN,2.152931
3,2025-06-16,2.2349,2.1656,2.3362,2.1517,542390000.0,3.20,NaN,2.167834
4,2025-06-15,2.1656,2.1396,2.1752,2.1383,136200000.0,1.21,NaN,2.167428

In [88]:
# 10 günlük SMA ekleme
df['SMA_10'] = df['Price'].rolling(window=10).mean()

# 10 günlük EMA ekleme
df['EMA_10'] = df['Price'].ewm(span=10, adjust=False).mean()
df.head()

,Date,Price,Open,High,Low,Vol.,Change %,SMA_10,EMA_10
0,2025-06-19,2.1474,2.1704,2.1828,2.1446,223990000.0,-1.06,NaN,2.147400
1,2025-06-18,2.1704,2.1591,2.1802,2.1189,298050000.0,0.53,NaN,2.151582
2,2025-06-17,2.1590,2.2367,2.2563,2.1431,459240000.0,-3.40,NaN,2.152931
3,2025-06-16,2.2349,2.1656,2.3362,2.1517,542390000.0,3.20,NaN,2.167834
4,2025-06-15,2.1656,2.1396,2.1752,2.1383,136200000.0,1.21,NaN,2.167428

In [89]:
df['SMA_10'] = df['SMA_10'].fillna(df['Price'].expanding().mean()) # ilk 10 gün ortalaması
df.head(20)

,Date,Price,Open,High,Low,Vol.,Change %,SMA_10,EMA_10
0,2025-06-19,2.1474,2.1704,2.1828,2.1446,223990000.0,-1.06,2.147400,2.147400
1,2025-06-18,2.1704,2.1591,2.1802,2.1189,298050000.0,0.53,2.158900,2.151582
2,2025-06-17,2.1590,2.2367,2.2563,2.1431,459240000.0,-3.40,2.158933,2.152931
3,2025-06-16,2.2349,2.1656,2.3362,2.1517,542390000.0,3.20,2.177925,2.167834
4,2025-06-15,2.1656,2.1396,2.1752,2.1383,136200000.0,1.21,2.175460,2.167428
5,2025-06-14,2.1396,2.1478,2.1782,2.1112,200490000.0,-0.38,2.169483,2.162368
6,2025-06-13,2.1478,2.1910,2.1910,2.0850,528790000.0,-1.97,2.166386,2.159720
7,2025-06-12,2.1910,2.2707,2.2729,2.1715,298380000.0,-3.51,2.169462,2.165407
8,2025-06-11,2.2707,2.3072,2.3377,2.2543,300230000.0,-1.59,2.180711,2.184551
9,2025-06-10,2.3073,2.3212,2.3258,2.2625,302290000.0,-0.59,2.193370,2.206869
10,2025-06-09,2.3210,2.2670,2.3285,2.2232,350130000.0,2.37,2.210730,2.227620
11,2025-06-08,2.2672,2.1771,2.2951,2.1670,306780000.0,4.14,2.220410,2.234816
12,2025-06-07,2.1771,2.1612,2.1907,2.1482,124920000.0,0.79,2.222220,2.224323
13,2025-06-06,2.1600,2.0941,2.1900,2.0834,270670000.0,3.15,2.214730,2.212628
14,2025-06-05,2.0941,2.2013,2.2262,2.0618,410980000.0,-4.87,2.207580,2.191077
15,2025-06-04,2.2013,2.2448,2.2654,2.1959,231790000.0,-1.94,2.213750,2.192936
16,2025-06-03,2.2448,2.1965,2.2807,2.1846,264120000.0,2.20,2.223450,2.202366
17,2025-06-02,2.1966,2.1793,2.2041,2.1365,268800000.0,0.81,2.224010,2.201317
18,2025-06-01,2.1790,2.1738,2.1876,2.1253,191240000.0,0.24,2.214840,2.197260
19,2025-05-31,2.1738,2.1412,2.2054,2.0814,308450000.0,1.61,2.201490,2.192994

In [92]:
from ta.momentum import RSIIndicator

#RSI (Relative Strength Index - Göreceli Güç Endeksi)
# 14 günlük RSI ekleme
rsi = RSIIndicator(close=df['Price'], window=14)
df['RSI_14'] = rsi.rsi()

In [93]:
#df['RSI_14'] = df['RSI_14'].fillna(df['RSI_14'].mean())

# İlk 30 günün RSI_14 ortalamasını hesapla (NaN hariç)
mean_first_20 = df.loc[:20, 'RSI_14'].mean()

# İlk 30 günün NaN değerlerini bu ortalama ile doldur
df.loc[:29, 'RSI_14'] = df.loc[:29, 'RSI_14'].fillna(mean_first_20)
df.head(20)

,Date,Price,Open,High,Low,Vol.,Change %,SMA_10,EMA_10,RSI_14
0,2025-06-19,2.1474,2.1704,2.1828,2.1446,223990000.0,-1.06,2.147400,2.147400,48.247141
1,2025-06-18,2.1704,2.1591,2.1802,2.1189,298050000.0,0.53,2.158900,2.151582,48.247141
2,2025-06-17,2.1590,2.2367,2.2563,2.1431,459240000.0,-3.40,2.158933,2.152931,48.247141
3,2025-06-16,2.2349,2.1656,2.3362,2.1517,542390000.0,3.20,2.177925,2.167834,48.247141
4,2025-06-15,2.1656,2.1396,2.1752,2.1383,136200000.0,1.21,2.175460,2.167428,48.247141
5,2025-06-14,2.1396,2.1478,2.1782,2.1112,200490000.0,-0.38,2.169483,2.162368,48.247141
6,2025-06-13,2.1478,2.1910,2.1910,2.0850,528790000.0,-1.97,2.166386,2.159720,48.247141
7,2025-06-12,2.1910,2.2707,2.2729,2.1715,298380000.0,-3.51,2.169462,2.165407,48.247141
8,2025-06-11,2.2707,2.3072,2.3377,2.2543,300230000.0,-1.59,2.180711,2.184551,48.247141
9,2025-06-10,2.3073,2.3212,2.3258,2.2625,302290000.0,-0.59,2.193370,2.206869,48.247141
10,2025-06-09,2.3210,2.2670,2.3285,2.2232,350130000.0,2.37,2.210730,2.227620,48.247141
11,2025-06-08,2.2672,2.1771,2.2951,2.1670,306780000.0,4.14,2.220410,2.234816,48.247141
12,2025-06-07,2.1771,2.1612,2.1907,2.1482,124920000.0,0.79,2.222220,2.224323,48.247141
13,2025-06-06,2.1600,2.0941,2.1900,2.0834,270670000.0,3.15,2.214730,2.212628,45.885760
14,2025-06-05,2.0941,2.2013,2.2262,2.0618,410980000.0,-4.87,2.207580,2.191077,38.559758
15,2025-06-04,2.2013,2.2448,2.2654,2.1959,231790000.0,-1.94,2.213750,2.192936,51.988333
16,2025-06-03,2.2448,2.1965,2.2807,2.1846,264120000.0,2.20,2.223450,2.202366,56.174206
17,2025-06-02,2.1966,2.1793,2.2041,2.1365,268800000.0,0.81,2.224010,2.201317,50.880795
18,2025-06-01,2.1790,2.1738,2.1876,2.1253,191240000.0,0.24,2.214840,2.197260,49.062766
19,2025-05-31,2.1738,2.1412,2.2054,2.0814,308450000.0,1.61,2.201490,2.192994,48.511241

In [66]:
df.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.               float64
Change %           float64
SMA_10             float64
EMA_10             float64
RSI_14             float64
dtype: object

In [94]:
df.isnull().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Vol.        0
Change %    0
SMA_10      0
EMA_10      0
RSI_14      0
dtype: int64

In [95]:
from ta.trend import MACD

#MACD (Moving Average Convergence Divergence) Hareketli Ortalama Yakınsama Iraksama göstergesidir
# MACD ekleme (12, 26, 9)
macd = MACD(close=df['Price'], window_slow=26, window_fast=12, window_sign=9)
df['MACD'] = macd.macd()          # MACD çizgisi
df['MACD_Signal'] = macd.macd_signal()  # Sinyal çizgisi
df['MACD_Diff'] = macd.macd_diff()      # Fark (histogram)

In [70]:
df.head(40)

,Date,Price,Open,High,Low,Vol.,Change %,SMA_10,EMA_10,RSI_14,MACD,MACD_Signal,MACD_Diff
0,2025-06-19,2.1474,2.1704,2.1828,2.1446,2.239900e+08,-1.06,2.147400,2.147400,48.247141,NaN,NaN,NaN
1,2025-06-18,2.1704,2.1591,2.1802,2.1189,2.980500e+08,0.53,2.158900,2.151582,48.247141,NaN,NaN,NaN
2,2025-06-17,2.1590,2.2367,2.2563,2.1431,4.592400e+08,-3.40,2.158933,2.152931,48.247141,NaN,NaN,NaN
3,2025-06-16,2.2349,2.1656,2.3362,2.1517,5.423900e+08,3.20,2.177925,2.167834,48.247141,NaN,NaN,NaN
4,2025-06-15,2.1656,2.1396,2.1752,2.1383,1.362000e+08,1.21,2.175460,2.167428,48.247141,NaN,NaN,NaN
5,2025-06-14,2.1396,2.1478,2.1782,2.1112,2.004900e+08,-0.38,2.169483,2.162368,48.247141,NaN,NaN,NaN
6,2025-06-13,2.1478,2.1910,2.1910,2.0850,5.287900e+08,-1.97,2.166386,2.159720,48.247141,NaN,NaN,NaN
7,2025-06-12,2.1910,2.2707,2.2729,2.1715,2.983800e+08,-3.51,2.169462,2.165407,48.247141,NaN,NaN,NaN
8,2025-06-11,2.2707,2.3072,2.3377,2.2543,3.002300e+08,-1.59,2.180711,2.184551,48.247141,NaN,NaN,NaN
9,2025-06-10,2.3073,2.3212,2.3258,2.2625,3.022900e+08,-0.59,2.193370,2.206869,48.247141,NaN,NaN,NaN
10,2025-06-09,2.3210,2.2670,2.3285,2.2232,3.501300e+08,2.37,2.210730,2.227620,48.247141,NaN,NaN,NaN
11,2025-06-08,2.2672,2.1771,2.2951,2.1670,3.067800e+08,4.14,2.220410,2.234816,48.247141,NaN,NaN,NaN
12,2025-06-07,2.1771,2.1612,2.1907,2.1482,1.249200e+08,0.79,2.222220,2.224323,48.247141,NaN,NaN,NaN
13,2025-06-06,2.1600,2.0941,2.1900,2.0834,2.706700e+08,3.15,2.214730,2.212628,45.885760,NaN,NaN,NaN
14,2025-06-05,2.0941,2.2013,2.2262,2.0618,4.109800e+08,-4.87,2.207580,2.191077,38.559758,NaN,NaN,NaN
15,2025-06-04,2.2013,2.2448,2.2654,2.1959,2.317900e+08,-1.94,2.213750,2.192936,51.988333,NaN,NaN,NaN
16,2025-06-03,2.2448,2.1965,2.2807,2.1846,2.641200e+08,2.20,2.223450,2.202366,56.174206,NaN,NaN,NaN
17,2025-06-02,2.1966,2.1793,2.2041,2.1365,2.688000e+08,0.81,2.224010,2.201317,50.880795,NaN,NaN,NaN
18,2025-06-01,2.1790,2.1738,2.1876,2.1253,1.912400e+08,0.24,2.214840,2.197260,49.062766,NaN,NaN,NaN
19,2025-05-31,2.1738,2.1412,2.2054,2.0814,3.084500e+08,1.61,2.201490,2.192994,48.511241,NaN,NaN,NaN
20,2025-05-30,2.1394,2.2446,2.2518,2.1328,5.038800e+08,-4.69,2.183330,2.183250,44.914271,NaN,NaN,NaN
21,2025-05-29,2.2446,2.2746,2.3110,2.2390,2.782300e+08,-1.32,2.181070,2.194404,55.725802,NaN,NaN,NaN
22,2025-05-28,2.2746,2.3170,2.3224,2.2290,2.865300e+08,-1.83,2.190820,2.208985,58.242728,NaN,NaN,NaN
23,2025-05-27,2.3170,2.3107,2.3539,2.2695,2.669300e+08,0.27,2.206520,2.228624,61.568104,NaN,NaN,NaN
24,2025-05-26,2.3108,2.3423,2.3586,2.2965,2.160400e+08,-1.34,2.228190,2.243565,60.805564,NaN,NaN,NaN
25,2025-05-25,2.3422,2.3305,2.3442,2.2673,2.393500e+08,0.50,2.242280,2.261499,63.285642,0.031996,NaN,NaN
26,2025-05-24,2.3305,2.2964,2.3595,2.2882,1.619100e+08,1.49,2.250850,2.274045,61.718540,0.035788,NaN,NaN
27,2025-05-23,2.2964,2.4314,2.4797,2.2857,5.330300e+08,-5.56,2.260830,2.278109,57.267574,0.035631,NaN,NaN
28,2025-05-22,2.4315,2.3955,2.4537,2.3907,3.794200e+08,1.50,2.286080,2.305998,67.322397,0.045879,NaN,NaN
29,2025-05-21,2.3955,2.3563,2.4287,2.3319,4.368400e+08,1.66,2.308250,2.322271,63.064146,0.050514,NaN,NaN
30,2025-05-20,2.3563,2.3805,2.4084,2.3152,3.402400e+08,-1.02,2.329940,2.328458,58.709543,0.050442,NaN,NaN
31,2025-05-19,2.3805,2.4291,2.4385,2.2852,4.153800e+08,-2.01,2.343530,2.337921,60.521870,0.051742,NaN,NaN
32,2025-05-18,2.4294,2.3534,2.4474,2.3363,2.956800e+08,3.23,2.359010,2.354553,63.963815,0.056071,NaN,NaN
33,2025-05-17,2.3534,2.3797,2.3888,2.3001,2.981800e+08,-1.11,2.362650,2.354344,55.818385,0.052761,0.047194,0.005568
34,2025-05-16,2.3797,2.3852,2.4390,2.3491,3.779200e+08,-0.23,2.369540,2.358954,57.820143,0.051665,0.048088,0.003577
35,2025-05-15,2.3851,2.5506,2.5709,2.3552,5.447300e+08,-6.49,2.373830,2.363708,58.238521,0.050648,0.048600,0.002048
36,2025-05-14,2.5508,2.5826,2.6483,2.5205,5.291300e+08,-1.25,2.395860,2.397724,68.547794,0.062492,0.051379,0.011114
37,2025-05-13,2.5831,2.5462,2.6053,2.4255,6.066500e+08,1.44,2.424530,2.431429,70.097415,0.073637,0.055830,0.017806
38,2025-05-12,2.5465,2.3654,2.6508,2.3538,1.190000e+09,7.57,2.436030,2.452351,66.121990,0.078609,0.060386,0.018223
39,2025-05-11,2.3672,2.4636,2.4815,2.3298,4.318100e+08,-4.19,2.433200,2.436869,50.894282,0.067306,0.061770,0.005536

In [96]:
for col in ['MACD', 'MACD_Signal', 'MACD_Diff']: # İlk günki değer ile dolduruldu
    first_value = df[col].iloc[33]
    df[col] = df[col].fillna(first_value)
df.isnull().sum()

Date           0
Price          0
Open           0
High           0
Low            0
Vol.           0
Change %       0
SMA_10         0
EMA_10         0
RSI_14         0
MACD           0
MACD_Signal    0
MACD_Diff      0
dtype: int64

In [72]:
df.dtypes

Date           datetime64[ns]
Price                 float64
Open                  float64
High                  float64
Low                   float64
Vol.                  float64
Change %              float64
SMA_10                float64
EMA_10                float64
RSI_14                float64
MACD                  float64
MACD_Signal           float64
MACD_Diff             float64
dtype: object

In [73]:
df3 = df.copy() # her ihtimale karşı verileri koruma
df3.head(40)

,Date,Price,Open,High,Low,Vol.,Change %,SMA_10,EMA_10,RSI_14,MACD,MACD_Signal,MACD_Diff
0,2025-06-19,2.1474,2.1704,2.1828,2.1446,2.239900e+08,-1.06,2.147400,2.147400,48.247141,0.052761,0.047194,0.005568
1,2025-06-18,2.1704,2.1591,2.1802,2.1189,2.980500e+08,0.53,2.158900,2.151582,48.247141,0.052761,0.047194,0.005568
2,2025-06-17,2.1590,2.2367,2.2563,2.1431,4.592400e+08,-3.40,2.158933,2.152931,48.247141,0.052761,0.047194,0.005568
3,2025-06-16,2.2349,2.1656,2.3362,2.1517,5.423900e+08,3.20,2.177925,2.167834,48.247141,0.052761,0.047194,0.005568
4,2025-06-15,2.1656,2.1396,2.1752,2.1383,1.362000e+08,1.21,2.175460,2.167428,48.247141,0.052761,0.047194,0.005568
5,2025-06-14,2.1396,2.1478,2.1782,2.1112,2.004900e+08,-0.38,2.169483,2.162368,48.247141,0.052761,0.047194,0.005568
6,2025-06-13,2.1478,2.1910,2.1910,2.0850,5.287900e+08,-1.97,2.166386,2.159720,48.247141,0.052761,0.047194,0.005568
7,2025-06-12,2.1910,2.2707,2.2729,2.1715,2.983800e+08,-3.51,2.169462,2.165407,48.247141,0.052761,0.047194,0.005568
8,2025-06-11,2.2707,2.3072,2.3377,2.2543,3.002300e+08,-1.59,2.180711,2.184551,48.247141,0.052761,0.047194,0.005568
9,2025-06-10,2.3073,2.3212,2.3258,2.2625,3.022900e+08,-0.59,2.193370,2.206869,48.247141,0.052761,0.047194,0.005568
10,2025-06-09,2.3210,2.2670,2.3285,2.2232,3.501300e+08,2.37,2.210730,2.227620,48.247141,0.052761,0.047194,0.005568
11,2025-06-08,2.2672,2.1771,2.2951,2.1670,3.067800e+08,4.14,2.220410,2.234816,48.247141,0.052761,0.047194,0.005568
12,2025-06-07,2.1771,2.1612,2.1907,2.1482,1.249200e+08,0.79,2.222220,2.224323,48.247141,0.052761,0.047194,0.005568
13,2025-06-06,2.1600,2.0941,2.1900,2.0834,2.706700e+08,3.15,2.214730,2.212628,45.885760,0.052761,0.047194,0.005568
14,2025-06-05,2.0941,2.2013,2.2262,2.0618,4.109800e+08,-4.87,2.207580,2.191077,38.559758,0.052761,0.047194,0.005568
15,2025-06-04,2.2013,2.2448,2.2654,2.1959,2.317900e+08,-1.94,2.213750,2.192936,51.988333,0.052761,0.047194,0.005568
16,2025-06-03,2.2448,2.1965,2.2807,2.1846,2.641200e+08,2.20,2.223450,2.202366,56.174206,0.052761,0.047194,0.005568
17,2025-06-02,2.1966,2.1793,2.2041,2.1365,2.688000e+08,0.81,2.224010,2.201317,50.880795,0.052761,0.047194,0.005568
18,2025-06-01,2.1790,2.1738,2.1876,2.1253,1.912400e+08,0.24,2.214840,2.197260,49.062766,0.052761,0.047194,0.005568
19,2025-05-31,2.1738,2.1412,2.2054,2.0814,3.084500e+08,1.61,2.201490,2.192994,48.511241,0.052761,0.047194,0.005568
20,2025-05-30,2.1394,2.2446,2.2518,2.1328,5.038800e+08,-4.69,2.183330,2.183250,44.914271,0.052761,0.047194,0.005568
21,2025-05-29,2.2446,2.2746,2.3110,2.2390,2.782300e+08,-1.32,2.181070,2.194404,55.725802,0.052761,0.047194,0.005568
22,2025-05-28,2.2746,2.3170,2.3224,2.2290,2.865300e+08,-1.83,2.190820,2.208985,58.242728,0.052761,0.047194,0.005568
23,2025-05-27,2.3170,2.3107,2.3539,2.2695,2.669300e+08,0.27,2.206520,2.228624,61.568104,0.052761,0.047194,0.005568
24,2025-05-26,2.3108,2.3423,2.3586,2.2965,2.160400e+08,-1.34,2.228190,2.243565,60.805564,0.052761,0.047194,0.005568
25,2025-05-25,2.3422,2.3305,2.3442,2.2673,2.393500e+08,0.50,2.242280,2.261499,63.285642,0.031996,0.047194,0.005568
26,2025-05-24,2.3305,2.2964,2.3595,2.2882,1.619100e+08,1.49,2.250850,2.274045,61.718540,0.035788,0.047194,0.005568
27,2025-05-23,2.2964,2.4314,2.4797,2.2857,5.330300e+08,-5.56,2.260830,2.278109,57.267574,0.035631,0.047194,0.005568
28,2025-05-22,2.4315,2.3955,2.4537,2.3907,3.794200e+08,1.50,2.286080,2.305998,67.322397,0.045879,0.047194,0.005568
29,2025-05-21,2.3955,2.3563,2.4287,2.3319,4.368400e+08,1.66,2.308250,2.322271,63.064146,0.050514,0.047194,0.005568
30,2025-05-20,2.3563,2.3805,2.4084,2.3152,3.402400e+08,-1.02,2.329940,2.328458,58.709543,0.050442,0.047194,0.005568
31,2025-05-19,2.3805,2.4291,2.4385,2.2852,4.153800e+08,-2.01,2.343530,2.337921,60.521870,0.051742,0.047194,0.005568
32,2025-05-18,2.4294,2.3534,2.4474,2.3363,2.956800e+08,3.23,2.359010,2.354553,63.963815,0.056071,0.047194,0.005568
33,2025-05-17,2.3534,2.3797,2.3888,2.3001,2.981800e+08,-1.11,2.362650,2.354344,55.818385,0.052761,0.047194,0.005568
34,2025-05-16,2.3797,2.3852,2.4390,2.3491,3.779200e+08,-0.23,2.369540,2.358954,57.820143,0.051665,0.048088,0.003577
35,2025-05-15,2.3851,2.5506,2.5709,2.3552,5.447300e+08,-6.49,2.373830,2.363708,58.238521,0.050648,0.048600,0.002048
36,2025-05-14,2.5508,2.5826,2.6483,2.5205,5.291300e+08,-1.25,2.395860,2.397724,68.547794,0.062492,0.051379,0.011114
37,2025-05-13,2.5831,2.5462,2.6053,2.4255,6.066500e+08,1.44,2.424530,2.431429,70.097415,0.073637,0.055830,0.017806
38,2025-05-12,2.5465,2.3654,2.6508,2.3538,1.190000e+09,7.57,2.436030,2.452351,66.121990,0.078609,0.060386,0.018223
39,2025-05-11,2.3672,2.4636,2.4815,2.3298,4.318100e+08,-4.19,2.433200,2.436869,50.894282,0.067306,0.061770,0.005536

In [97]:
mean_price = df3['Price'].mean()  # Normalize edilmeden önceki df3
std_price = df3['Price'].std()

print(mean_price, std_price)

1.4954858947857935e-16 1.000131570291999

In [74]:
df3.to_csv('XRP_unnormalized.csv',index=False)

In [75]:
from sklearn.preprocessing import StandardScaler

# Normalleştirilecek sütunlar 'Change' ve 'Date' sütunu hariç her sütun normalize edilecek
normalize_columns = ['Price', 'Open', 'High', 'Low', 'Vol.', 'SMA_10', 'EMA_10', 'MACD', 'MACD_Signal', 'MACD_Diff']

# StandardScaler ile standartlaştırma
scaler = StandardScaler()
df3[normalize_columns] = scaler.fit_transform(df3[normalize_columns])

# Sonucu kontrol etme
print(df3.head())

        Date     Price      Open      High       Low      Vol.  Change %  \
0 2025-06-19  2.943189  2.990523  2.849499  3.127674 -0.525722     -1.06
1 2025-06-18  2.984205  2.970336  2.845053  3.079525 -0.446667      0.53
2 2025-06-17  2.963875  3.108961  2.975183  3.124864 -0.274607     -3.40
3 2025-06-16  3.099229  2.981948  3.111810  3.140976 -0.185850      3.20
4 2025-06-15  2.975645  2.935501  2.836503  3.115871 -0.619432      1.21

     SMA_10    EMA_10     RSI_14      MACD  MACD_Signal  MACD_Diff
0  2.942716  2.953455  48.247141  0.988074      0.94818   0.317063
1  2.963253  2.960950  48.247141  0.988074      0.94818   0.317063
2  2.963312  2.963368  48.247141  0.988074      0.94818   0.317063
3  2.997227  2.990079  48.247141  0.988074      0.94818   0.317063
4  2.992825  2.989351  48.247141  0.988074      0.94818   0.317063

In [76]:
df3.to_csv("XRP_normalized.csv",index=False)

In [99]:
import pandas as pd

# future_predictions.csv dosyasını oku
future_df = pd.read_csv('future_predictions.csv')

# StandardScaler parametreleri
mean_price = 1.4954858947857935e-16  # ≈ 0
std_price = 1.000131570291999       # ≈ 1

# StandardScaler ters dönüşümü (gerekirse)
future_df['Original_Price'] = (future_df['Price'] * std_price) + mean_price

# Bugünün gerçek fiyatı
today_price = 2.14

# İlk tahmin ile gerçek fiyat arasındaki farkı hesapla
first_predicted_price = future_df['Original_Price'].iloc[0]
offset = first_predicted_price - today_price

# Tahminleri kaydırarak düzelt
future_df['Corrected_Price'] = future_df['Original_Price'] - offset

# Tarih formatını düzenle (saat kısmını kaldırmak için)
future_df['Date'] = pd.to_datetime(future_df['Date']).dt.strftime('%Y-%m-%d')

# Düzeltilmiş tahminleri ve tarihleri yeni bir CSV dosyasına yaz
future_df[['Date', 'Corrected_Price']].to_csv('corrected_future_predictions.csv', index=False)

print("Düzeltilmiş tahminler 'corrected_future_predictions.csv' dosyasına yazıldı.")

Düzeltilmiş tahminler 'corrected_future_predictions.csv' dosyasına yazıldı.